body {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration: 
none} td {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; 
text-decoration: none} A:link {text-decoration:none; color:#00FFFF; font-weight: 
normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal} 
A:visited {text-decoration:none; color:#00FFFF; font-weight: normal; font-style: 
normal} A:active {text-decoration:none; font-family: Verdana, Arial, Helvetica, 
sans-serif; font-style: normal; font-weight: normal; color: #00FFFF} A:hover {text-decoration:none; 
color:#FFFF00; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; 
font-style: normal} td.date { font-family: Verdana, Arial, Helvetica, sans-serif; 
background-color: #0066CC; font-weight: normal; color: #FFFFFF}text { font-family: 
Verdana, Arial, Helvetica, sans-serif; color: #3399FF; text-decoration: none} 

/*
     FILE ARCHIVED ON 19:03:33 Jun 09, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:40:50 Jan 28, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 261.957
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.078
  RedisCDXSource: 9.524
  esindex: 0.009
  LoadShardBlock: 230.996 (3)
  PetaboxLoader3.resolve: 188.141 (4)
  PetaboxLoader3.datanode: 160.147 (4)
  CDXLines.iter: 18.572 (3)
  load_resource: 142.199
*/